@{
    ViewData["Title"] = "MetaData Type";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
}
@section Scripts {

}

<div class="container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Role Create</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Index">Dashboard</a></li>
                    <li class="breadcrumb-item active">Role List</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-1 d-flex justify-content-between align-items-center">
                    <h4 class="card-title mb-0">MetaData Datatable</h4>
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#rightSideModal">Add New</button>
                    @*  <p class="card-text">
                        This is the most basic example of the datatables with zero configuration. Use the
                        <code>.datatable</code> class to initialize datatables.
                    </p> *@
                </div>
                <div class="card-body">
                   
                </div>
            </div>
        </div>
    </div>
</div>