@{
    ViewData["Title"] = "Customer - Create";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}
@section VendorScripts {
    <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
}
@section PageScripts {
    <script src="~/js/dashboards-analytics.js"></script>
}


<div class="row">
    <h3>Customer Create</h3>
</div>