@{
    ViewData["Title"] = "Customer - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
  
}

<style>
    .card-header{
        padding: 0.5rem 1rem !important;        
        border-bottom: 1px solid #e1e1e1;
    }

</style>


<div class="card">
    <div class="card-header mb-3">
        <h5 class="mb-0">Customer Create</h5>
    </div>    
    <div class="card-body">
        <div class="row g-3">
            <div class="table-responsive text-nowrap">
               <table class="table table-striped" id="datatable">
                   <thead>
                       <tr>
                           <th>SL.</th>
                           <th>Name</th>
                           <th>Email</th>
                           <th>NID</th>
                           <th>Number</th>
                           <th>Active Date</th>
                           <th>Status</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                       </tr>
                   </tbody>

               </table>
           </div>
        </div>
    </div>
</div>


<script src="~/assets/js/script.js"></script>

